.things-to-explore-text{
    text-align: left !important;
}


.things-to-explore-text h2{
    font-size: 30px !important;
    text-shadow: 1px 3px 4px #FFFBEB;
    margin-bottom: 0;
}

.things-to-explore-text h5{
    font-size: 20px !important;
    text-shadow: 1px 3px 4px #FFFBEB;
    margin-bottom: 1;
}

.things-to-explore-text button{
    width: 7em;
    font-size: 15px !important;
    padding: 1px !important;
}

.carousel-caption{
    bottom: -0.75rem !important;
    left: 2% !important;
}

.backgroundShadow{
    background: rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 770px) {
    .things-to-explore-text h2{
        font-size: 17px !important;
    }
    
    .things-to-explore-text h5{
        font-size: 10px !important;
        margin-bottom: 0;
    }
    
    .things-to-explore-text button{
        font-size: 8px !important;
        padding: 1px !important;
    }

    .carousel-caption{
        bottom: -0.95rem !important;
        left: 2% !important;
    }
}

@media screen and (max-width: 375px) {
    .things-to-explore-text h2{
        font-size: 10px !important;
        text-shadow: 1px 3px 4px #FFFBEB;
        margin-bottom: 0;
    }
    
    .things-to-explore-text h5{
        font-size: 7px !important;
        text-shadow: 1px 3px 4px #FFFBEB;
        margin-bottom: 0;
    }
    
    .things-to-explore-text button{
        width: 8em;
        font-size: 6px !important;
        padding: 1px !important;
    }

    .carousel-caption{
        bottom: -0.95rem !important;
        left: 2% !important;
    }
}