button{
    padding: 10px !important;
    font-size: 1.2rem !important;
}

.image-div{
    height: 275px;
    background-position: center;
    background-size: contain;
}

.multipleImages{
    height: 115px;
}

.imgSizeStyle{
    object-fit: cover;
    /* border-radius: 6px !important; */
}

.card{
    border-radius: 10px !important;
    overflow: hidden;
}

.main-text-size-style h1{
    font-size: 36px !important;
}

@media screen and (max-width: 775px){
    button{
        padding: 4px !important;
    }
    .image-div{
        height: 200px;
    }
 }

@media screen and (max-width: 475px){
   button{
    padding: 2px !important;
    font-size: 1rem !important;
   }
   .main-text-size-style h1{
    font-size: 20px !important;
}
}