.destination-main-title {
    font-size: 66px !important;
    text-shadow: 1px 2px 5px black !important;
}

.divBackgroundImage{
    background-image: url('./hotel.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.center{
    padding-top: 180px;
    padding-bottom: 290px;
}

input{
    border: none;
}

.check-in{
    height: 56px;
    width: 553px;
}

.scroll{
    overflow-x: scroll;
}

.rowPaddingStyle{
    padding-left: 150px;
    padding-right: 150px;
}

@media (max-width:770px) {
    .text {
        font-size: 1.5em !important;
    }
    .destination-main-title {
        font-size: 46px !important;
    }
    .rowPaddingStyle{
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width:425px) {
    .center{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .destination-main-title {
        font-size: 30px !important;
    }
    .rowPaddingStyle{
        padding-left: 50px;
        padding-right: 50px;
    }

}