/* .contaner{
    position: relative;
    text-align: center;
    color: white;
} */
.divBackgroundImage{
    background-image: url('./hotel.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.center{
    padding-top: 180px;
    padding-bottom: 290px;
}

input{
    border: none;
}

.check-in{
    height: 56px;
    width: 553px;
}

.scroll{
    overflow-x: scroll;
}

@media (max-width:600px) {
    .text {
        font-size: 1.5em !important;
    }
}

@media (max-width:500px) {
    .center{
        padding-top: 40px;
        padding-bottom: 80px;
    }
}