/* .contaner{
    position: relative;
    text-align: center;
    color: white;
} */
.bg-overlay{
    background-image: url('bg-image-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    /* padding: 263px; */
}
.center{
    /* position: absolute;
    top: 49%;
    left: 10%;
    transform: translate(-4%, -50%); */
    padding-top: 150px;
    padding-bottom: 140px;
}

input{
    border: none;
}

.check-in{
    height: 56px;
    width: 553px;
}

.scroll{
    overflow-x: scroll;
}

@media (max-width:600px) {
    .text {
        font-size: 1.5em !important;
    }
}