li{
    list-style: none;
}

a{
    text-decoration: none;
}
.navbar-brand{
    /* margin-left: 106px; */
}

.header-logo {
    width: auto;
    height: 11vh !important;
}

.menu-profile-icon {
    cursor: pointer;
}

.header-main-menu a {
    color: rgb(17, 16, 16);
}

.header-main-menu {
    margin-right: 32px;
}

.menu-item {
    font-size: 17px;
    font-weight: 600;
}

.header {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.auth-item {
    margin-left: 4px;
}

.menu-dropdown {
    width: -webkit-fill-available;
    display: none;
    justify-content: end;
    align-items: center;
}

.menu-dropdown i {
    transform: scale(2.3);
}

.menu-toggle {
    cursor: pointer;
}

.menu-mbl-item {
    font-size: 19px !important;
}

.menu-collapse {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in !important;
}

.menu-active {
    animation: dropdownActive 0.8s ease-in forwards;
}

.menu-inactive {
    animation: dropdownInActive 0.5s ease-out forwards;
}

@media(max-width:1122px) {
    .header-logo {
        height: 9vh !important;
    }
}

@media(max-width:1071px) {
    .items-section {
        display: none !important;
    }

    .menu-dropdown {
        display: flex !important;
    }
}

@keyframes dropdownActive {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: 1000px;
    }
}

@keyframes dropdownInActive {
    0% {
        max-height: 1000px;
    }

    100% {
        max-height: 0px;
    }
}