.imgText{
    position: relative;
    bottom: 40px;
    font-weight: 700px;
    font-size: 30px;
}

.coverImage{
    background-size: contain;
    background-position: center;
}

img.imagecolor:after{
    background-color: rgba(13, 123, 196, 0.36);
    height: 100%;
    width: 100%;
    content: '';
}