.section-title {
    font-size: 28px;
}

.container {
    margin-top: 90px !important;
}

.owl-dots {
    display: none;
}

.owl-nav button {
    transform: scale(1.7);
}

.owl-image {
    height: 38vh;
    width: 100%;
    object-fit: cover;
}

.owl-title {
    font-size: 24px;
    margin-left: 15px;
}

.owl-views {
    color: #939393;
    font-size: 13px;
    margin-left: 15px;
}

.item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 15px;
}

.owl-stage-outer {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}