.imgText{
    position: relative;
    bottom: 40px;
    font-weight: 700px;
    font-size: 30px;
}

.coverImage{
    background-size: contain;
    background-position: center;
}
/* .imageTextColor:hover{
    background: #0d7bc411;

} */

.img-overlay:hover{
    background: #0d7bc411;

}

.imageTextColor{
    color: white
}

.img-overlay{
    background: #0D7BC45c;
}

.explore{
    background-color: #0579C1;
    width: 200px;
}

@media screen and (max-width: 775px){
    .explore{
     width: 35%;
    }
 }

@media screen and (max-width: 475px){
   .explore{
    width: 70%;
   }
   button{
    width: 75px;
    font-size: 1rem !important;
    padding: 1px
   }
}