.imgText{
    position: relative;
    bottom: 40px;
    font-weight: 700px;
    font-size: 30px;
}

.coverImage{
    background-size: contain;
    background-position: center;
}
/* .imageTextColor:hover{
    background: #0d7bc411;

} */

.img-overlay:hover{
    background: #0d7bc411;

}

.imageTextColor{
    color: white
}

.img-overlay{
    background: #0D7BC45c;
}

.explore{
    background-color: #0579C1;
    width: 200px;
}

@media screen and (max-width: 775px){
    .explore{
     width: 35%;
    }
 }

@media screen and (max-width: 475px){
   .explore{
    width: 70%;
   }
   button{
    width: 75px;
    font-size: 1rem !important;
    padding: 1px
   }
}

.explore-title {
    font-size: 31px !important;
}

.explore-description {
    font-size: 18px !important;
    color: #787777 !important;
}

.explore-images {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.explore-image-1 {
    height: 50vh;
}

.overly-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0d7bc44f;
}

.overly-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #0d7bc44f;
}

.overly-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48.5%;
    background-color: #0d7bc44f;
}

.images-section-1 {
    width: 49.5%;
}

.images-section-2 {
    width: 49.5%;
    margin-left: 1%;
}

.explore-images {
    display: flex;
}

.overly-1, .overly-2, .overly-3 {
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-shadow: 1px 2px 5px black !important;
    display: flex;
    align-items: flex-end;
    padding-bottom: 17px;
    padding-left: 42px;
}

.explore-button {
    border: 0;
    background-color: #0579C1;
    color: white;
    font-size: 17px !important;
    min-width: 160px;
    min-height: 45px;
    transition: all 0.3s ease-in;
}

.explore-button:hover {
    background-color: #03568a;
}

.button-icon {
    margin-left: 4px;
}

@media(max-width:981px) {
    .explore-images {
        flex-direction: column;
    }

    .images-section-1 {
        width: 100%;
    }

    .images-section-2 {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }

    .inner-section-3 {
        margin-top: 10px !important;
    }

    .overly-2 {
        height: 47.5%;
    }
}

@media(max-width:953px) {
    .explore-image-1, .explore-image-2, .explore-image-3 {
        height: 35vh !important;
    }

    .overly-2 {
        height: 49.5% !important;
    }
}

@media(max-width:471px) {
    .explore-image-1, .explore-image-2, .explore-image-3 {
        height: 25vh !important;
    }
}